html,body{
	height: 100%;
}

body{
	background: url("connectwork/connectwork.png");

}

#principal-block{
	border: 1px solid white;
	background: rgba(28, 29, 31, 0.8);
	padding-top: 15px;
	
	text-align: center;
	margin: auto;
	border-radius: 10px;
}

h1{
	color:#00ff00;
}

#perfil-img{
	float: center;
	width: 194px;
	height: 194px;
	border-radius: 94px;
}

#email{
	color: white;
}

.devicon-html5-plain-wordmark {
  font-size: 70px;
}
.devicon-css3-plain-wordmark {
	font-size: 70px;
}
.devicon-javascript-plain {
	font-size: 70px;
}
.devicon-java-plain-wordmark {
	font-size: 70px;
}
.devicon-bootstrap-plain {
	font-size: 70px;
}
.devicon-github-plain{
	font-size: 30px;
}
button{
	color: white;
	background: none;
	border: none;
}

